* {
  margin: 0;
  padding: 0;
}
body {
  height: calc(100vh - 250px);
  background-image: url(./assets/pexels-pixabay-46798.jpg);
  background-size: cover;
  background-repeat: repeat;
  position: relative;
}
@media (max-width: 400px) {
  body {
    background-image: url(./assets/Football\ Field\ Wallpaper.jpeg);
    background-repeat: repeat;
  }
}
